* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-width: 1400px;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}

.main-box {
  width: 100%;
  height: auto;
  display: flex;
}

.center-notes-list {
  width: 310px;
}

.right-text-edit {
  width: auto;
}
